*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */

    overflow-x: hidden; /* remove hor scrollbar */
}

.main-container{
    margin-top: 50px;
    margin-bottom: 200px;
    /* margin-right: 150px; */
    width: 100%;
    /* height: 500px; */
    position: relative;
    /* box-sizing: border-box; */
    /* float: left; */
}
/* @media(min-width: 800px){ */
/*     .main-container{ */
/*         width: 66%; */
/*     } */
/* } */
/* @media(min-width: 1000px){ */
/*     .main-container{ */
/*         width: 85%; */
/*     } */
/* } */
.canvases-container {
    position: relative;
}

.info-canvas {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
}


.minimap-div {
    position: relative;
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    height: 50px;
}

h1 {
    margin-left: 2%;
    margin-bottom: 20px;
    color: skyblue;
}

#switch-button{
    cursor: pointer;
    font-size: 25px;
    
}
#switch-container{
    text-align: center;
    color: skyblue;
    margin-bottom: 50px;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

    
}


.myTooltip {

  text-align: center;
  font-size: 15px;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;

  position: absolute;

  opacity: 0;
  transition: opacity 0.3s;
  /* white-space: nowrap; */

}
.myTooltip .header{
    float: left;
    margin: 5px;
    font-weight: bold;
}
.myTooltip .item{
    float:left;
    /* color: black; */
}
.myTooltip .percentage{
    margin-right: 5px;
    font-weight: bold;
}
.myTooltip .name{
    margin-right: 60px;
}
.myTooltip .number{
    float: right;
}

/* SLIDERS */


.left-space{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.slider{
    position: absolute;
    top: 0;
    border-style: solid;
    border-width: 3px 6px;
    border-color: rgba(100, 100, 100, 0.6);
    touch-action: none;

		      
}

.right-space{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
			  

}


/* CHECKMARKS */
.button-container{
    /*display: inline; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    float:left;
    /* position: relative; */
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: grey;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;

    border-radius: 50px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 5px;
    top: 30px;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid #888;
    margin-left: 5px;

    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 


}

.button-container input{
    display: none;
}

.button-container input:checked ~ .checkmark:after {
    opacity: 1;
    transition: opacity 300ms ease-in-out 0.2s;

}

.button-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 4px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.checkmark{
    position: relative;
    margin-right: 20px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: background-color 300ms ease-in-out 0.1s;
}
.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
}


#afterword {
    text-align: center;
    padding: 5px;
    color: grey;
    font-family: "Helvetica";
    margin-bottom: 90px;

}
#afterword a{
    color: teal;
    font-weight: bold;
}


