/* AREA AND PIE CHART */
.zoom-button {
  position: absolute;
  top: -5%;
  left: 0;
  font-size: 25px;
  color: lightblue;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  margin-left: 10px;
}

.period-text{
  position: absolute;
  left: 70%;
  top: 0;
  font-size: 15px;
  color: grey;
}
.pie-popup{
  top: 50%;
  left: 50%;
  background-color: white;
  text-align: center;
  font-size: 15px;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;

  position: absolute;

  opacity: 0.5;
}
